# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Temp / scratch
scratch/
temp-repo/

# Env files
.env

# Database
db/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Build Caches
frontend/.vite/

# SQLite Databases
*.sqlite3

